.container{
    margin: 20px;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    justify-items: center;
}

img{
    height: 300px;
    border: #35424a solid 4px;
    border-radius: 15px;
    transition: all 500ms;
    max-width: 300px;
}

img:hover{
    height: 200px;
    width: 200px;
}